<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Content</th>
        <th>Author</th>
    </tr>
    </thead>
    {% for comment in value %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.author.fullName }}</td>
        </tr>
    {% endfor %}
</table>
